# Exclude everything, then allow only what goes to the repo
*
**/*

!.gitignore
!.goreleaser.yaml
!Makefile
!VERSION
!README.md
!LICENSE
!SECURITY.md
!AGENTS.md
!CONTRIBUTING.md
!CODE_OF_CONDUCT.md
!CHANGELOG.md
!go.mod
!go.sum
!*.go
!**/*.go
# allow dirs so !**/*.go matches inside them (Git must descend into dirs)
!cmd/
!internal/
!internal/**/
!.github/
!.github/**
!tools/
!tools/**
!.agents/
!.cursor/
!.cursor/rules/
!.cursor/rules/*.mdc
!docs/
!docs/*.md
!docs/*.gif
!docs/*.tape
!sample-pg_hba.conf
!Dockerfile
!.dockerignore
# Never track macOS metadata
.DS_Store
**/.DS_Store
