# Exclude everything, then allow only what goes to the repo
*
**/*

!.gitignore
!.goreleaser.yaml
!Makefile
!README.md
!LICENSE
!go.mod
!go.sum
!*.go
!**/*.go
# allow dirs so !**/*.go matches inside them (Git must descend into dirs)
!cmd/
!internal/
!internal/**/
!.cursor/
!.cursor/rules/
!.cursor/rules/*.mdc
!docs/
!docs/*.md
!docs/*.gif
!docs/*.tape
!sample-pg_hba.conf
